html {font-size:16px}
.Tile {
  display: block;
  border: .1rem solid #ccc;
  font-size: .85rem;
  height: 17rem;
  width:13rem;
  box-sizing: border-box;
  padding: .67rem;
  box-shadow: 0 8px 1px -4px rgba(0,0,0,.25);
  color: #666;
  text-decoration: none !important;
  background: #fff;
  opacity: .9;
  border-radius: 3px;
}

.Tile:hover {
  border: .1rem solid #999;
  opacity: 1;
}

.Tile:hover h4 {
  color: #069;
  text-decoration: underline;
}

.Tile .Icon {
  text-align: center;
  margin: .5rem 0 0;
}

.Tile .Icon>i {
  display: inline-block;
  font-size: 1.33rem;
  color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  font-style: normal;
  margin: -1px 0 0 -1px;
  text-shadow: rgba(0, 0, 0, .5) 1px 2px 1px
}

.Tile .Score {
  margin: 0 0 .67rem
}

.Tile .Score>.scr_4:after {
  content: '\2605 \2605 \2605 \2605 \2606';
  display: block;
  text-align: center;
}

.Tile .Version {
  font-size: .75rem;
  margin: -.5rem 0 .5rem;
  color: #999;
}

.Tile .Version span {
  margin-right: .25rem
}

.Tile .Version span.v {
  margin-right: 1rem;
  display: none;
}

.Tile .Version span.c:after {
  content: '+'
}

.Tile .Excerpt {
  white-space: normal;
  line-height: 1.1rem;
  height: 3.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin: 0 0 .67rem;
}

.Tile .Excerpt p, .Tile .Excerpt div {
  display: inline;
}

.Tile h4:after, .Tile .Excerpt:after {
  display: block;
  content: ' ';
  box-shadow: inset #fff -250px 0 250px -200px;
  height: 19px;
  height: 1.1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Tile h4 {
  font-size: 1rem;
  margin: 0 0 .5rem;
  line-height: 1.1rem;
  max-height: 2.2rem;
  overflow: hidden;
  font-weight: normal;
  color: #000;
  font-weight: normal;
  position: relative;
}

.Tile .Authors>div {
  font-size: .75rem;
  display: block;
  color: #59a;
  margin-right: .25rem;
  line-height: 1rem;
}

.VirtualScroll>div>div {
  display: inline-block;
  height: auto !important;
  width: auto !important;
  position:static !important;
  padding:0;
  vertical-align:top;
  padding:.25rem;
  text-align:left;
}
.VirtualScroll>div>div.spinner {
  width: 40px !important;
  height: 40px !important;

  position: relative !important;
  margin: 100px auto !important;
  overflow:hidden;
  text-indent:999rem;
  white-space:nowrap;  
}
#plugin-spinner {
  color:rgba(0,0,0,.33);
  text-shadow:0 1px 1px #fff;
  cursor:pointer;
}
spinner .double-bounce1, .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0,0,0,.2);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.tbody {display:table}
.tbody > .thead {display:table-header-group}
.tbody > .thead > .tr {display: table-row}
.tbody > .thead > .tr > div {display:table-cell; border-bottom:1px solid #ccc; padding:.25rem}
.tbody > .Row {display: table-row-group;}
.tbody > .Row > .Tile {display:table-row; height:auto; width:auto; margin:0; padding:0}
.tbody > .Row > .Tile > div {display:table-cell; max-height:3.3rem; height:auto; padding:.25rem}
.tbody > .Row > .Tile > div.Title{width:20%}
.tbody > .Row > .Tile > div.Icon {display:none}
.tbody > .Row > .Tile > div.Authors > div {white-space:nowrap}

.list > .list > .thead {display:none}
.list > .item > .Tile {    height: auto; position:relative;
    width: auto;
    padding: .5rem .5rem .5rem 6rem;
    text-align: left;}
.list > .item > .Tile > .Version {margin-bottom:.25rem}    
.list > .item > .Tile > .Score,    
.list > .item > .Tile > .Icon {position:absolute; left:.5rem; width:5rem;}
.list > .item > .Tile > .Score {top:4rem;}
.list > .item > .Tile > .Excerpt {height:auto; max-height:3.3rem; margin-bottom:.25rem}
.list > .item > .Tile > .Authors {margin:0}
.list > .item > .Tile > .Authors > div {display:inline-block  }
#ji-toolbar form {margin:0}
#ji-toolbar.navbar-dark .navbar-nav .nav-item.active a{color:#fff}