// COLORS
// --------------------------------------------------

$black=                         #000
$white=                         #fff



// primary
$jenkinsThemeDark=           #002957
$jenkinsThemeBright=           #ff8700

// secondary
$jenkinsGreen=                  #54a229
$jenkinsBrightGreen=            #68b22b // obsolete
$jenkinsOrange=                 #df7800
$jenkinsFuchsia=                #c90a79
$jenkinsBrightFuchsia=          #cf2683 // obsolete
$jenkinsRed=                    #d50000
$jenkinsBrightBlue=             #0099cf

// tertiary
$jenkinsDarkRed=                #e35102
$jenkinsLightRed=               #ff495c
$jenkinsOcher=                  #b0851e
$jenkinsYellow=                 #ffd923
$jenkinsPurple=                 #762057
$jenkinsMagenta=                #e13eaf
$jenkinsPetrol=                 #006241
$jenkinsTurquoise=              #00c18b
$jenkinsBlue=                   #1d4f90
$jenkinsLightBlue=              #129be0
$jenkinsDarkBrown=              #512c1d
$jenkinsLightBrown=             #bc6124

// grays
$jenkinsTextGray=               #333
$jenkinsDarkGray=               #464646
$jenkinsLabelGray=              #666
$jenkinsMiddleGray=             #b4b4b4
$jenkinsLightGray=              #dedede
$jenkinsBackgroundGray=         #ededed

// USE THIS ONE IN STYLUS

// primary
$darkBlue=                      $jenkinsThemeDark
$blue=                          $jenkinsBrightBlue
$lightOrange=                   $jenkinsBrightOrange



// secondary
$green=                         $jenkinsGreen
$lightGreen=                    $jenkinsBrightGreen
$fuchsia=                       $jenkinsFuchsia
$lightFuchsia=                  $jenkinsBrightFuchsia
$orange=                        $jenkinsOrange
$red=                           $jenkinsRed

// tertiary
$_red=                           $jenkinsDarkRed
$_lightRed=                      $jenkinsLightRed
$_ocher=                         $jenkinsOcher
$_yellow=                        $jenkinsYellow
$_purple=                        $jenkinsPurple
$_magenta=                       $jenkinsMagenta
$_petrol=                        $jenkinsPetrol
$_turquoise=                     $jenkinsTurquoise
$_blue=                          $jenkinsBlue
$_lightBlue=                     $jenkinsLightBlue
$_darkBrown=                     $jenkinsDarkBrown
$_lightBrown=                    $jenkinsLightBrown

$lightBlue=                      $_lightBlue // obsolete
$yellow=                         $_yellow // obsolete

// grays
$textGray=                      $jenkinsTextGray
$darkGray=                      $jenkinsDarkGray
$labelGray=                     $jenkinsLabelGray
$middleGray=                    $jenkinsMiddleGray
$lightGray=                     $jenkinsLightGray
$backgroundGray=                $jenkinsBackgroundGray
