.flex 
  display: flex !important

.inline-flex 
  display: inline-flex !important

.flex-grow-9 
  flex-grow: 9

.flex-wrap
  flex-wrap: wrap

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column

.align-items-center 
  align-items: center

.align-items-stretch 
  align-items: stretch

.align-content-stretch 
  align-content: stretch

.align-self-end 
  align-self: flex-end

.align-self-start 
  align-self: flex-start
