/* BASE */
$serif=                         'Roboto Slab', 'Garamond' 'Times New Roman', serif
$sansserif=                     'MorebiRounded', 'FreeSans', 'Arimo', 'Droid Sans', 'Helvetica', 'Arial', sans-serif


/* LAYOUT */

// breakpoints
$small=     568px
$medium=    768px
$large=    1200px
$xlarge=   1360px

$maxWidth= 1200px

// sidebar
$sidebarLeftWidth=    238px
$sidebarRightWidth=   238px

/* COMPONENTS */

// navbar
$navbarLeftButtonWidth=    180px
